---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="what, whats there to know"
	pubDate={new Date('March 21 2025')}
	heroImage="/FireTime.png"
>
	<p>
		Hey im firetime, Just a guy who likes to code stuff
	</p>

	<p>
		Hey, wsp :) Im firetime, i make random stuff. like this website and games and a bunch of other stuff
		Anyways see ya later!
	</p>
</Layout>
