---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="what, whats there to know"
	pubDate={new Date('March 21 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hey im firetime, Just a guy who likes to code stuff
	</p>

	<p>
		THINGS I DO =
                make games
                code stuff like this site
                play games
                design cool stuff
                make videos on youtube
                stream on twitch
	</p>

	<p>
		Anyways see ya another day!
	</p>

	<p>
		
	</p>

	<p>
		
	</p>
</Layout>
