---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="what, whats there to know"
	pubDate={new Date('March 21 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hey im firetime, Just a guy who likes to code stuff
	</p>

	<p>
		THINGS I DO =
        </p>
        <p>
                make games
        </p>
        <p>
                code stuff like this site
        </p>
        <p>
                play games
        </p>
        <p>
                design cool stuff
        </p>
        <p>
                make videos on youtube
        </p>
        <p>
                stream on twitch
	</p>

	<p>
		Anyways see ya another day!
	</p>

	<p>
		
	</p>

	<p>
		
	</p>
</Layout>
