---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={ SITE_TITLE } description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey Guys</h1>
			<p>
				Welcome to the FireTime Blog
			</p>
			<p>
				There is just some blog posts here right now
			</p>
			<p>THINGS ARE COMMING SOON:</p>
			<ul>
				<li> <code>Error: Command "npm run build" exited with 1</code></li>
				<li> <code>MADE WITH ASTRO</code></li>
				<li> <code>MAIN SITE, FIRETIME.WORLD </code></li>
				<li> <code>src/content/idk</code></li>
				<li> <code>src/content/none</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
