---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={ SITE_TITLE } description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey Guys</h1>
			<p>
				Welcome to the FireTime Blog
			</p>
			<p>
				There is just some blog posts here right now
			</p>
			<p>THINGS ARE COMMING SOON:</p>
			<ul>
				<li> <code>Error: Command "npm run build" exited with 1</code></li>
				<li> <code>MADE WITH ASTRO</code></li>
				<li> <code>MAIN SITE, FIRETIME.WORLD </code></li>
				<li> <code>SITE MADE BY FIRETIME</code></li>
				<li> <code>src/content/none</code></li>
			</ul>
			<p>
				
			</p>
			<p>
				
				<a href="https://firetime.world">main site</a>
                                
				
			</p>
		</main>
		<Footer />
	</body>
</html>
