---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} FireTime Inc. All rights reserved. Contact me at FireTime@FireTime.me  <a rel="me" href="https://mastodon.social/@firetime">Mastodon</a> <a rel="me" <a rel="me" href="https://dev.to/firetime">Dev</a> <a rel="me" href="https://twitch.tv/firetimeofficial">Twitch</a> <a rel="me" href="https://youtube.com/@firetime.officia">Youtube</a> <a rel="me" 
	
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
